---

layout: chapter_layout.njk
book: Proverbs
chapter: 1
info: First chapter of Proverbs.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
   ''
], ['']) }}

{{ piece.c(2, [
   ''
], ['']) }}

{{ piece.c(3, [
   ''
], ['']) }}

{{ piece.c(4, [
   ''
], ['']) }}

{{ piece.c(5, [
   ''
], ['']) }}

{{ piece.c(6, [
   ''
], ['']) }}

{{ piece.c(7, [
   ''
], ['']) }}

{{ piece.c(8, [
   ''
], ['']) }}

{{ piece.c(9, [
   ''
], ['']) }}

{{ piece.c(10, [
   ''
], ['']) }}

{{ piece.c(11, [
   ''
], ['']) }}

{{ piece.c(12, [
   ''
], ['']) }}

{{ piece.c(13, [
   ''
], ['']) }}

{{ piece.c(14, [
   ''
], ['']) }}

{{ piece.c(15, [
   ''
], ['']) }}

{{ piece.c(16, [
   ''
], ['']) }}

{{ piece.c(17, [
   ''
], ['']) }}

{{ piece.c(18, [
   ''
], ['']) }}

{{ piece.c(19, [
   ''
], ['']) }}

{{ piece.c(20, [
   ''
], ['']) }}

{{ piece.c(21, [
   ''
], ['']) }}

{{ piece.c(22, [
   ''
], ['']) }}

{{ piece.c(23, [
   ''
], ['']) }}

{{ piece.c(24, [
   ''
], ['']) }}

{{ piece.c(25, [
   ''
], ['']) }}

{{ piece.c(26, [
   ''
], ['']) }}

{{ piece.c(27, [
   ''
], ['']) }}

{{ piece.c(28, [
   ''
], ['']) }}

{{ piece.c(29, [
   ''
], ['']) }}

{{ piece.c(30, [
   ''
], ['']) }}

{{ piece.c(31, [
   ''
], ['']) }}

{{ piece.c(32, [
   ''
], ['']) }}

{{ piece.c(33, [
   ''
], ['']) }}
