---

layout: chapter_layout.njk
book: Proverbs
chapter: 4
info: Solomon writing to his son. Continuing instruction from a father to a son of wise instruction. You'll notice the continuous theme of the father pleading for the son to listen to the father's instruction.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
   '<b>of a father</b> &mdash; Solomon is giving advice he\'s received as a father. Solomon at this time was also the wisest ever, getting wisdom from God, before he squandered it all. But, also noting that a father has lived longer and gone through more scenarios to be able to give better wisdom than someone who is not.'
], ['']) }}

{{ piece.c(2, [
   '<b>For I give you sound learning</b> &mdash; Solomon\'s wisdom is sound teaching, not faulty. Worldy wisdom can sound profound but is in the end empty. Solomon is giving true wisdom that will actually withstand.'
], ['']) }}

{{ piece.c(3, [
   ''
], ['']) }}

{{ piece.c(4, [
   ''
], ['']) }}

{{ piece.c(5, [
   '<b>Acquire wisdom! Acquire understanding!</b> &mdash; Obviously not any wisdom, as foolish wisdom will not be any true help, Solomon pleads to gain good wisdom and good understanding.'
], ['']) }}

{{ piece.c(6, [
   ''
], ['']) }}

{{ piece.c(7, [
   ''
], ['']) }}

{{ piece.c(8, [
   ''
], ['']) }}

{{ piece.c(9, [
   ''
], ['']) }}

{{ piece.c(10, [
   ''
], ['']) }}

{{ piece.c(11, [
   ''
], ['']) }}

{{ piece.c(12, [
   ''
], ['']) }}

{{ piece.c(13, [
   ''
], ['']) }}

{{ piece.c(14, [
   ''
], ['']) }}

{{ piece.c(15, [
   ''
], ['']) }}

{{ piece.c(16, [
   ''
], ['']) }}

{{ piece.c(17, [
   ''
], ['']) }}

{{ piece.c(18, [
   ''
], ['']) }}

{{ piece.c(19, [
   ''
], ['']) }}

{{ piece.c(20, [
   ''
], ['']) }}

{{ piece.c(21, [
   ''
], ['']) }}

{{ piece.c(22, [
   ''
], ['']) }}

{{ piece.c(23, [
   ''
], ['']) }}

{{ piece.c(24, [
   ''
], ['']) }}

{{ piece.c(25, [
   '<b>look directly ahead
. . . eyelids be fixed straight in front of you.</b> &mdash; How easy is it to fall into sin? As Jesus said, just looking at a woman with lust is adultery of the heart. How one orders his eyes is very important. Our eyes ought not to be wandering carelessly, but to be fixed on the goal. Whether that be the task at hand, or also in life, our eyes ought to be pointed towards Christ.'
], ['Matthew 5:28']) }}

{{ piece.c(26, [
   '<b>Watch the track of your feet</b> &mdash; Again, the theme of watching, looking, paying attention. Keeping your eyes focused. Not being distracted by things that don\'t matter and will lead to harm.',
   '<b>And all your ways will be established.</b> &mdash; A result of not keeping your eyes from wandering, you will physically not wander as well. Doesn\'t neccisarily mean you\'ll be correct. But keeping your eyes focused on the prize will keep you from wandering to something else. However, Solomon obviously wants his son to be focused on the correct things. Keep your eyes focused on Christ, and your ways will be established in Christ and you will not wander.'
], ['']) }}

{{ piece.c(27, [
   ''
], ['']) }}
