---

layout: chapter_layout.njk
book: Exodus
chapter: 20
info: 20th chapter of Exodus.

---

{% import 'piece.njk' as piece %}

{{ piece.c(10, [
	'<b>in it you shall not do any work</b> &mdash; For the New Testament believer, we rest on the Lord\'s day.'
], ['Matthew 28:1', 'Revelation 1:10', 'Matthew 11:28']) }}
