{% macro c(verse, text, references) %}
<verse id="{{ verse }}">
	<number>{{ verse }}</number>
	<comments>
		{% for comment in text %}
			<comment>{{ comment }}</comment>
		{% endfor %}
	</comments>
	{% if references[0] != '' %}
		<references>
			{% for ref in references %}
				<a href="/{{ ref | lower | replace(' ', '/') | replace(':', '#') }}">{{ ref }}</a>
			{% endfor %}
		</references>
	{% else %}
		<references style="min-width:16px;"></references>
	{% endif %}
</verse>
{% endmacro %}
