---

layout: chapter_layout.njk
book: Galatians
chapter: 2
info: The greatest threat to freedom is the fear of man. A fear of God makes one truly free internally, not being fearful of what man will think. But when you fear man, you are enslaved to how you want people to think of you.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	''
], ['']) }}

{{ piece.c(2, [
	''
], ['']) }}

{{ piece.c(3, [
	''
], ['']) }}

{{ piece.c(4, [
	'<b>freedom which we have in Christ</b> &mdash; This is talking about an internal freedom from the requirement of works for salvation.',
	'<b>in order to enslave us</b> &mdash; Thinking you need to be saved by your works is an enslavment. It is a prisoner rattling his cage, begging for a way out while the entrance is wide open with the key in the prisoner\'s hand. The enslavement is only apparent to the one being enslaved. But the truth of Christ having saved us is the most freeing truth.'
], ['']) }}

{{ piece.c(5, [
	''
], ['']) }}

{{ piece.c(6, [
	''
], ['']) }}

{{ piece.c(7, [
	''
], ['']) }}

{{ piece.c(8, [
	''
], ['']) }}

{{ piece.c(9, [
	''
], ['']) }}

{{ piece.c(10, [
	''
], ['']) }}

{{ piece.c(11, [
	''
], ['']) }}

{{ piece.c(12, [
	'<b>but when they came, he <i>began</i> to shrink back</b> &mdash; Peter began to fear man rather than God. Jews weren\'t to eat with the getiles. When Peter saw the Jews come, and he was eating with the gentiles, then he began to fear what they thought of him eating with them.'
], ['']) }}

{{ piece.c(13, [
	''
], ['']) }}

{{ piece.c(14, [
	'<b>before everyone</b> &mdash; Paul rebuked the sin publicly, right away. It is good to rebuke some sin publicly, and some sin privately. Public sin ought to be treated publicly, and private sin treated privately. Sin ought to be rebuked as well, contrary to the belief that nobody should judge, if sin is never rebuked it will continue.'
], ['']) }}

{{ piece.c(15, [
	''
], ['']) }}

{{ piece.c(16, [
	''
], ['']) }}

{{ piece.c(17, [
	''
], ['']) }}

{{ piece.c(18, [
	''
], ['']) }}

{{ piece.c(19, [
	''
], ['']) }}

{{ piece.c(20, [
	''
], ['']) }}

{{ piece.c(21, [
	''
], ['']) }}

{{ piece.c(22, [
	''
], ['']) }}

{{ piece.c(23, [
	''
], ['']) }}

{{ piece.c(24, [
	''
], ['']) }}

{{ piece.c(25, [
	''
], ['']) }}

{{ piece.c(26, [
	''
], ['']) }}

{{ piece.c(27, [
	''
], ['']) }}

{{ piece.c(28, [
	''
], ['']) }}

{{ piece.c(29, [
	''
], ['']) }}

{{ piece.c(30, [
	''
], ['']) }}

{{ piece.c(31, [
	''
], ['']) }}

{{ piece.c(32, [
	''
], ['']) }}
