---

layout: chapter_layout.njk
book: Luke
chapter: 2
info: 2nd chapter of the book.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	'<b>Now it happened</b> &mdash; there is an interesting amount of details that were included that are not important to the story. A made-up story would not have such details and cements the historical accuracy of the story.'
], ['']) }}

{{ piece.c(4, [
	'<b>went up from Galilee</b> &mdash; Joseph and Mary likely had other plans, but the Lord made different plans for them and fulfilled OT prophesies.'
], ['Romans 8:28']) }}
