---

layout: chapter_layout.njk
book: Jude
chapter: 1
info: "Jude was a half-brother of Jesus. It would be foolish to overlook the book merely because it is short due to it's dense content."

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	'<b>a slave of Jesus Christ</b> &mdash; Jude calls himself a slave of Jesus. He could have chosen to refer himself as the half-brother of Jesus, an equally true fact which would have given him some sense of authority. But instead he humbled himself and called himself a slave, of which, all believers are. Fascinating introduction.'
], ['']) }}

{{ piece.c(2, [
	''
], ['']) }}

{{ piece.c(3, [
	''
], ['']) }}

{{ piece.c(4, [
	''
], ['']) }}

{{ piece.c(5, [
	''
], ['']) }}

{{ piece.c(6, [
	''
], ['']) }}

{{ piece.c(7, [
	''
], ['']) }}

{{ piece.c(8, [
	''
], ['']) }}

{{ piece.c(9, [
	''
], ['']) }}

{{ piece.c(10, [
	''
], ['']) }}

{{ piece.c(11, [
	''
], ['']) }}

{{ piece.c(12, [
	''
], ['']) }}

{{ piece.c(13, [
	''
], ['']) }}

{{ piece.c(14, [
	''
], ['']) }}

{{ piece.c(15, [
	''
], ['']) }}

{{ piece.c(16, [
	''
], ['']) }}

{{ piece.c(17, [
	''
], ['']) }}

{{ piece.c(18, [
	''
], ['']) }}

{{ piece.c(19, [
	''
], ['']) }}

{{ piece.c(20, [
	''
], ['']) }}

{{ piece.c(21, [
	''
], ['']) }}

{{ piece.c(22, [
	''
], ['']) }}

{{ piece.c(23, [
	''
], ['']) }}

{{ piece.c(24, [
	''
], ['']) }}

{{ piece.c(25, [
	''
], ['']) }}
