---

layout: chapter_layout.njk
book: Jonah
chapter: 1
info: Jonah was a prophet of God. His story parallels a picture of rebellion to God's commands and a redemption after repentance, however it ends with a display of God's mercy over Jonah's anger that God forgave the people of Ninevah.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	'<b>Now the word of Yahweh came to Jonah</b> &mdash; This was an incredibly rare event. Rarely do we find in the scriptures God\'s words coming to an individual. We suspect it came in an audible sense, but in however way it came, it came clearly. When the word of Yahweh comes to someone, they have no tinge of doubt that it came to them, and often are in fear due to speaking with God Himself.'
], ['']) }}

{{ piece.c(2, [
	''
], ['']) }}

{{ piece.c(3, [
	'<b>Yet Jonah arose to flee</b> &mdash; Jonah fled from God\'s instruction instead of following it, rebelling against the Lord\'s instruction.',
	'<b>from the presence of Yahweh</b> &mdash; It is impossible to actually flee from the presence of Yahweh (Psalm 139:7-8). The language is used many times to demonstrate the individual no longer having a blessing from God, rebelling against God. How terrible would it be to be outside the presence of God? How dark of a place Jonah must have been to get such a clear command from Yahweh and yet flee from Him.'
], ['Genesis 3:8', 'Psalm 139:7']) }}

{{ piece.c(4, [
	'<b>But Yahweh hurled a great wind on the sea</b> &mdash; God hurled a great wind, some translations say tempest or mighty storm. This storm was not your average storm, it put fear into the lives of the crewmen.',
	'<b>the ship gave thought to breaking apart.</b> &mdash; The storm was so severe the ship was about to break apart. Interestingly, the language used here is a personifiction. The ship <i>gave thought</i> to breaking apart, ships can\'t think. However, it seems to indicate the severity of how close the ship was to destruction.'
], ['']) }}

{{ piece.c(5, [
	'<b>Then the sailors became fearful</b> &mdash; The intensity of the storm which was out of their control. These were professional sailors whose livelyhoods depend on sailing, and yet they were fearful for their lives.',
	'<b>and every man cried to his god</b> &mdash; These men were not followers of Yahweh. They worship gods in their own making, and at a time of intense distress they turn to them. This is a natural reaction to severe stress, to turn to an object of comfort, even if it gives a false comfort. The pagan turns to their false idol, but a believer in Christ will turn to pray to the Lord Yahweh in a time of distress, and only the true God can offer true comfort.',
	'<b>But Jonah had gone down . . . and fallen deep asleep.</b> &mdash; Jonah was clearly trying to flee from Yahweh. In what normal situation would someone, when about to die from a ship being torn apart in a storm, lay to sleep? Something was not looking right when it came to Jonah\'s behaviour as he did not act instinctively on turning to an object of comfort.'
], ['']) }}

{{ piece.c(6, [
	''
], ['']) }}

{{ piece.c(7, [
	''
], ['']) }}

{{ piece.c(8, [
	''
], ['']) }}

{{ piece.c(9, [
	''
], ['']) }}

{{ piece.c(10, [
	''
], ['']) }}

{{ piece.c(11, [
	''
], ['']) }}

{{ piece.c(12, [
	''
], ['']) }}

{{ piece.c(13, [
	''
], ['']) }}

{{ piece.c(14, [
	''
], ['']) }}

{{ piece.c(15, [
	''
], ['']) }}

{{ piece.c(16, [
	''
], ['']) }}

{{ piece.c(17, [
	''
], ['']) }}
