---

layout: chapter_layout.njk
book: Jonah
chapter: 2
info: 2nd chapter of the book.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	'<b>Then Jonah prayed to Yahweh his God</b> &mdash; Jonah finally humbled himself before God, a thing that happens all too often to us prideful people. Don\'t we all, after sinning, go through every other activity to comfort and distance ourselves from confessing our sin to God, when going to God after our sin should be the first thing we do. Nevertheless, God can still humble us even after much rebellion.',
	'<b>from the stomach of the fish</b> &mdash; The condition that Jonah was in would have been a terrible stench. The stomach was not a comfy spot. Full of dead and rotting fish, and now Jonah as well.'
], ['']) }}

{{ piece.c(2, [
	'<b>I called out of my distress to Yahweh</b> &mdash; Though we may assume Jonah is talking about his physical distresses, that doesn\'t appear to be the case since in the same verse he says <b>from the belly of Sheol</b>. Indicating Jonah\'s cry for help here was a cry for spiritual help. Jonah was repenting of what he had done previously in rebellion to the Lord.'
], ['']) }}

{{ piece.c(3, [
	'<b>For You had cast me into the deep</b> &mdash; Interestingly, Jonah attributes being cast into the sea as what God has done, even though in a physical sense it was done by the other men on the boat, acknwoledging the sovereignty of God.'
], ['']) }}
