---

layout: chapter_layout.njk
book: Corinthians
chapter: 1
info: 1st chapter of the first letter to the Corinthians.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	''
], ['']) }}

{{ piece.c(2, [
	''
], ['']) }}

{{ piece.c(3, [
	''
], ['']) }}

{{ piece.c(4, [
	''
], ['']) }}

{{ piece.c(5, [
	''
], ['']) }}

{{ piece.c(6, [
	''
], ['']) }}

{{ piece.c(7, [
	''
], ['']) }}

{{ piece.c(8, [
	''
], ['']) }}

{{ piece.c(9, [
	''
], ['']) }}

{{ piece.c(10, [
	''
], ['']) }}

{{ piece.c(11, [
	''
], ['']) }}

<!--#################-->

{{ piece.c(12, [
	''
], ['']) }}

{{ piece.c(13, [
	''
], ['']) }}

{{ piece.c(14, [
	''
], ['']) }}

{{ piece.c(15, [
	''
], ['']) }}

{{ piece.c(16, [
	''
], ['']) }}

{{ piece.c(17, [
	''
], ['']) }}

{{ piece.c(18, [
	''
], ['']) }}

{{ piece.c(19, [
	''
], ['']) }}

{{ piece.c(20, [
	''
], ['']) }}

{{ piece.c(21, [
	''
], ['']) }}

{{ piece.c(22, [
	''
], ['']) }}

{{ piece.c(23, [
	''
], ['']) }}

{{ piece.c(24, [
	''
], ['']) }}

{{ piece.c(25, [
	''
], ['']) }}

{{ piece.c(26, [
	'<b>not many...</b> &mdash; God built His church of ordinary people. He did not build a church of specialized people, there were no requirements to be part of the body of Christ. There\'s no way to earn your way into the body of Christ, so that none may boast.'
], ['Philippians 3:8-9']) }}

{{ piece.c(27, [
	'<b>But God has chosen</b> &mdash; God put His church together in such a way to show His power. So no one may look at the church and say “well, this happened because of those people.” Rather, as a church with the merit of the people alone, it would be impossible. But only possible through the workings of God.'
], ['Romans 8:28', '']) }}

{{ piece.c(28, [
	''
], ['Ephesians 2:8']) }}

{{ piece.c(29, [
	''
], ['']) }}

{{ piece.c(30, [
	''
], ['']) }}

{{ piece.c(31, [
	''
], ['']) }}

{{ piece.c(32, [
	''
], ['']) }}
