---

layout: contents_layout.njk

---

<div class="title"><strong>Chapters</strong></div>
<div class="chapters">
	{% for chapter in range(34) %}
	<a href="./{{ (chapter+1) }}">{{ (chapter+1) }}</a>
	{% endfor %}
</div>
