---

layout: chapter_layout.njk
book: Corinthians
chapter: 15
info: 15th chapter of Matthew.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	''
], ['']) }}

{{ piece.c(2, [
	''
], ['']) }}

{{ piece.c(3, [
	''
], ['']) }}

{{ piece.c(4, [
	''
], ['']) }}

{{ piece.c(5, [
	''
], ['']) }}

{{ piece.c(6, [
	''
], ['']) }}

{{ piece.c(7, [
	''
], ['']) }}

{{ piece.c(8, [
	''
], ['']) }}

{{ piece.c(9, [
	''
], ['']) }}

{{ piece.c(10, [
	''
], ['']) }}

{{ piece.c(11, [
	'<b>that defiles the man</b> &mdash; This, of course, is not to contradict your conscience. If to your conscience it is a sin, then for you it is a sin. Never violate your conscience on gray area issues where nowhere explicitly tells you if such a thing is a sin.',
	'<b>It is not what enters into the mouth . . . but what proceeds out of the mouth</b> &mdash; Jesus is speaking that eating “unclean” food doesn\'t make someone unclean, or is not sinful. In regards to the mouth, what we speak is what can be sinful. Or, in regards to the judgement, we won\'t be judged based on what foods we did or didn\'t eat, but what we did and didn\'t say.'
], ['']) }}

{{ piece.c(12, [
	''
], ['']) }}

{{ piece.c(13, [
	''
], ['']) }}

{{ piece.c(14, [
	''
], ['']) }}

{{ piece.c(15, [
	''
], ['']) }}

{{ piece.c(16, [
	''
], ['']) }}

{{ piece.c(17, [
	''
], ['']) }}

{{ piece.c(18, [
	''
], ['']) }}

{{ piece.c(19, [
	''
], ['']) }}

{{ piece.c(20, [
	''
], ['']) }}

{{ piece.c(21, [
	''
], ['']) }}

{{ piece.c(22, [
	''
], ['']) }}

{{ piece.c(23, [
	''
], ['']) }}

{{ piece.c(24, [
	''
], ['']) }}

{{ piece.c(25, [
	''
], ['']) }}

{{ piece.c(26, [
	''
], ['']) }}

{{ piece.c(27, [
	''
], ['']) }}

{{ piece.c(28, [
	''
], ['']) }}

{{ piece.c(29, [
	''
], ['']) }}

{{ piece.c(30, [
	''
], ['']) }}

{{ piece.c(31, [
	''
], ['']) }}

{{ piece.c(32, [
	''
], ['']) }}

{{ piece.c(33, [
	''
], ['']) }}

{{ piece.c(34, [
	''
], ['']) }}

{{ piece.c(35, [
	''
], ['']) }}

{{ piece.c(36, [
	''
], ['']) }}

{{ piece.c(37, [
	''
], ['']) }}

{{ piece.c(38, [
	''
], ['']) }}

{{ piece.c(39, [
	''
], ['']) }}
