---

layout: chapter_layout.njk
book: Matthew
chapter: 24
info: 24th chapter of Matthew.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	''
], ['']) }}

{{ piece.c(2, [
	''
], ['']) }}

{{ piece.c(3, [
	''
], ['']) }}

{{ piece.c(4, [
	''
], ['']) }}

{{ piece.c(5, [
	''
], ['']) }}

{{ piece.c(6, [
	''
], ['']) }}

{{ piece.c(7, [
	''
], ['']) }}

{{ piece.c(8, [
	''
], ['']) }}

{{ piece.c(9, [
	''
], ['']) }}

{{ piece.c(10, [
	''
], ['']) }}

{{ piece.c(11, [
	''
], ['']) }}

{{ piece.c(12, [
	''
], ['']) }}

{{ piece.c(13, [
	''
], ['']) }}

{{ piece.c(14, [
	''
], ['']) }}

{{ piece.c(15, [
	''
], ['']) }}

{{ piece.c(16, [
	''
], ['']) }}

{{ piece.c(17, [
	''
], ['']) }}

{{ piece.c(18, [
	''
], ['']) }}

{{ piece.c(19, [
	''
], ['']) }}

{{ piece.c(20, [
	''
], ['']) }}

{{ piece.c(21, [
	''
], ['']) }}

{{ piece.c(22, [
	''
], ['']) }}

{{ piece.c(23, [
	''
], ['']) }}

{{ piece.c(24, [
	''
], ['']) }}

{{ piece.c(25, [
	''
], ['']) }}

{{ piece.c(26, [
	''
], ['']) }}

{{ piece.c(27, [
	''
], ['']) }}

{{ piece.c(28, [
	''
], ['']) }}

{{ piece.c(29, [
	''
], ['']) }}

{{ piece.c(30, [
	''
], ['']) }}

{{ piece.c(31, [
	''
], ['']) }}

{{ piece.c(32, [
	''
], ['']) }}

{{ piece.c(33, [
	''
], ['']) }}

{{ piece.c(34, [
	''
], ['']) }}

{{ piece.c(35, [
	''
], ['']) }}

{{ piece.c(36, [
	''
], ['']) }}

{{ piece.c(37, [
	''
], ['']) }}

{{ piece.c(38, [
	''
], ['']) }}

{{ piece.c(39, [
	''
], ['']) }}

{{ piece.c(40, [
	''
], ['']) }}

{{ piece.c(41, [
	''
], ['']) }}

{{ piece.c(42, [
	''
], ['']) }}

{{ piece.c(43, [
	''
], ['']) }}

{{ piece.c(44, [
	''
], ['']) }}

{{ piece.c(45, [
	''
], ['']) }}

{{ piece.c(46, [
	''
], ['']) }}

{{ piece.c(47, [
	''
], ['']) }}

{{ piece.c(48, [
	'This verse speaks against the idea of living life to the fullest. We ought to live life like Christ can come any moment, and if we live like we want to finish enjoying ourselves and then follow Christ, we were never of Christ and still haven\'t truly repented.'
], ['']) }}

{{ piece.c(49, [
	'Again, the thoughts of Christ not coming for a while leads you into further sinful habits. The flesh never truly desires to do righteousness, so the idea that you want to finish embelishing in your sin before following Christ means you don\'t want to follow Christ at all.'
], ['']) }}

{{ piece.c(50, [
	''
], ['']) }}

{{ piece.c(51, [
	''
], ['']) }}
