---

layout: chapter_layout.njk
book: Matthew
chapter: 6
info: 6th chapter of Matthew.

---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	''
], ['']) }}

{{ piece.c(2, [
	''
], ['']) }}

{{ piece.c(3, [
	''
], ['']) }}

{{ piece.c(4, [
	''
], ['']) }}

{{ piece.c(5, [
	'<b>And when you pray</b> &mdash; Prayer was an assumtion for the believer\'s life, not merely encouraged.',
	'<b>you are not to be</b> &mdash; Interesting how Jesus, when He tells us how to pray, He starts by telling us the wrong way to pray and then telling the true way to pray. He first reveals the lie and the false view and then tells the truth in the next verse.',
	'<b>so that they may be seen by men</b> &mdash; We ought not to pray in such a way that glorifies us, but that which glorifies God.'
], ['Luke 18:1', '1 Thessalonians 5:17']) }}

{{ piece.c(6, [
	'<b>go into your inner room</b> &mdash; Jesus tells to find a quiet place when you pray, do what you need to do to be without distraction. The point of prayer is not to recieve praise from men, but to talk to God.'
], ['Matthew 6:4', 'Matthew 6:18']) }}

{{ piece.c(7, [
	'<b>do not use meaningless repetition</b> &mdash; The words themselves do not have any power, rather it is the heart behind the prayer to God that gives it meaning. The prayer is not a magic word or mystical spell.'
], ['']) }}

{{ piece.c(8, [
	''
], ['']) }}

{{ piece.c(9, [
	''
], ['']) }}

{{ piece.c(10, [
	''
], ['']) }}

{{ piece.c(11, [
	''
], ['']) }}

{{ piece.c(12, [
	''
], ['']) }}

{{ piece.c(13, [
	''
], ['']) }}

{{ piece.c(14, [
	''
], ['']) }}

{{ piece.c(15, [
	''
], ['']) }}

{{ piece.c(16, [
	''
], ['']) }}

{{ piece.c(17, [
	''
], ['']) }}

{{ piece.c(18, [
	''
], ['']) }}

{{ piece.c(19, [
	''
], ['']) }}

{{ piece.c(20, [
	''
], ['']) }}

{{ piece.c(21, [
	''
], ['']) }}

{{ piece.c(22, [
	''
], ['']) }}

{{ piece.c(23, [
	''
], ['']) }}

{{ piece.c(24, [
	''
], ['']) }}

{{ piece.c(25, [
	''
], ['']) }}

{{ piece.c(26, [
	''
], ['']) }}

{{ piece.c(27, [
	''
], ['']) }}

{{ piece.c(28, [
	''
], ['']) }}

{{ piece.c(29, [
	''
], ['']) }}

{{ piece.c(30, [
	''
], ['']) }}

{{ piece.c(31, [
	''
], ['']) }}

{{ piece.c(32, [
	''
], ['']) }}

{{ piece.c(33, [
	''
], ['']) }}

{{ piece.c(34, [
	''
], ['']) }}
