---
layout: chapter_layout.njk
book: Genesis
chapter: 11
info: Here we get into the explanation of languages and ethnicities. All nations in the world can be traced back to Babel. Notice the details of the accounts, followed by a geneological account. These writings are not fables, but historical accounts.
---

{% import 'piece.njk' as piece %}

{{ piece.c(1, [
	'<b>one language</b> &mdash; Everyone spoke the same language because they came from Adam and Eve. Although this group of one people was more than one language, these people did not want to leave and spread out as God commanded, they wanted to stick together and be in unity against God.'
], ['Genesis 11:4','Genesis 1:28']) }}

{{ piece.c(2, [
	''
], ['']) }}

{{ piece.c(3, [
	''
], ['']) }}

{{ piece.c(4, [
	'<b>And they said</b> &mdash; God desires unity under truth, but these people were in unity against God. We still see this idea today, people trying to get everyone, no matter the background or belief, together to agree.',
	'<b>top will reach into heaven</b> &mdash; The tower reaching into the heavens was not into the domain of God (Heaven) but meaning, the clouds into the sky. Their goal was to buil the tallest tower and largest city and be known by their massive works.',
	'It is likely that Babel was the root of all zodiacs, astrologies, and witchcraft. All hundreds of thousands of religions we have today probably came from this city here.'
], ['']) }}

{{ piece.c(5, [
	'<b>Then Yahewh came down to see</b> &mdash; God saw them, and seemed to even allow them to go an extent in attempting to build the city. The people of the world building the city was not something out of God\'s control as He quite easily confuses their language.'
], ['']) }}

{{ piece.c(6, [
	'<b>Behold, they are one people</b> &mdash; God saw not only that they spoke the same language, but the unity of their goals. They spoke the same language and in unity were against God. Not one thought to speak up about their massive pride, but kept a team in rebellion.'
], ['']) }}

{{ piece.c(7, [
	''
], ['']) }}

{{ piece.c(8, [
	''
], ['']) }}

{{ piece.c(9, [
	'<b>Therefore its name was called Babel</b> &mdash; This is the beginning of the city of Babylon. A city contrary to the people of God. One of the two major cities outline in the Bible. The City of Bablyon, and the City of God. These two cities represent the battles between good and evil as well. Babylon representing evil and the City of God representing good.'
], ['']) }}

{{ piece.c(10, [
	''
], ['']) }}

{{ piece.c(11, [
   ''
], ['']) }}

{{ piece.c(12, [
   ''
], ['']) }}

{{ piece.c(13, [
   ''
], ['']) }}

{{ piece.c(14, [
   ''
], ['']) }}

{{ piece.c(15, [
   ''
], ['']) }}

{{ piece.c(16, [
   ''
], ['']) }}

{{ piece.c(17, [
   ''
], ['']) }}

{{ piece.c(18, [
   ''
], ['']) }}

{{ piece.c(19, [
   ''
], ['']) }}

{{ piece.c(20, [
   ''
], ['']) }}

{{ piece.c(21, [
   ''
], ['']) }}

{{ piece.c(22, [
   ''
], ['']) }}

{{ piece.c(23, [
   ''
], ['']) }}

{{ piece.c(24, [
   ''
], ['']) }}

{{ piece.c(25, [
   ''
], ['']) }}

{{ piece.c(26, [
   ''
], ['']) }}

{{ piece.c(27, [
   ''
], ['']) }}

{{ piece.c(28, [
   ''
], ['']) }}

{{ piece.c(29, [
   ''
], ['']) }}

{{ piece.c(30, [
   ''
], ['']) }}

{{ piece.c(31, [
   ''
], ['']) }}

{{ piece.c(32, [
   ''
], ['']) }}
