---

layout: chapter_layout.njk
book: Genesis
chapter: 2
info: 2nd chapter of Genesis.

---

{% import 'piece.njk' as piece %}

{{ piece.c(2, [
	'<b>and He rested</b> &mdash; God did not get exhausted, He did not get tired or weary. God chose to rest because resting is good to do. We ought to work but also to rest.'
], ['Isaiah 40:28']) }}

{{ piece.c(3, [
	''
], ['']) }}

{{ piece.c(24, [
	''
], ['Mark 10:7']) }}
